<div class="wrapper">
  <div class="container">
    <div class="row-fluid content">
      <div class="headline">
        <h3>Образцы документов, заявлений</h3>
      </div>
            <ul>
              <% @doc_categories.each do |doc_category| %>
                <% if doc_category.docs.any? %>
                  <li>
                    <div class="docs_categories_names"><span><%= doc_category.name %></span></div>
                    <ul>
                      <% doc_category.docs.each do |doc| %>
                        <li>
                          <%= link_to doc.name, doc_load_path(doc), :class => 'docs_links hover-effect' %>
                        </li>
                      <% end %>
                    </ul>
                  </li>
                <% end %>
              <% end %>
              <% if @docs_without_category.any? %>
              <li>
                <div class="docs_categories_names"><span>Остальные документы</span></div>
                <ul>
                  <% @docs_without_category.each do |doc| %>
                    <li>
                      <%= link_to doc.name, doc_load_path(doc), :class => 'docs_links hover-effect' %>
                    </li>
                  <% end %>
                </ul>
              </li>
              <% end %>
            </ul>
        </div>
    <div id="clients-flexslider" class="flexslider home clients">
      <div class="headline"><h3>Партнёры</h3></div>
      <ul class="slides">
        <li>
          <a href="#">
            <%= image_tag('clients/hp_grey.png', alt: "") %>
            <%= image_tag('clients/hp.png', :class => "color-img", alt: "") %>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag('clients/igneus_grey.png', alt: "") %>
            <%= image_tag('clients/igneus.png', :class => "color-img", alt: "") %>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag('clients/vadafone_grey.png', alt: "") %>
            <%= image_tag('clients/vadafone.png', :class => "color-img", alt: "") %>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag('clients/walmart_grey.png', alt: "") %>
            <%= image_tag('clients/walmart.png', :class => "color-img", alt: "") %>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag('clients/shell_grey.png', alt: "") %>
            <%= image_tag('clients/shell.png', :class => "color-img", alt: "") %>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag('clients/natural_grey.png', alt: "") %>
            <%= image_tag('clients/natural.png', :class => "color-img", alt: "") %>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag('clients/aztec_grey.png', alt: "") %>
            <%= image_tag('clients/aztec.png', :class => "color-img", alt: "") %>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag('clients/gamescast_grey.png', alt: "") %>
            <%= image_tag('clients/gamescast.png', :class => "color-img", alt: "") %>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag('clients/cisco_grey.png', alt: "") %>
            <%= image_tag('clients/cisco.png', :class => "color-img", alt: "") %>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag('clients/everyday_grey.png', alt: "") %>
            <%= image_tag('clients/everyday.png', :class => "color-img", alt: "") %>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag('clients/cocacola_grey.png', alt: "") %>
            <%= image_tag('clients/cocacola.png', :class => "color-img", alt: "") %>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag('clients/spinworkx_grey.png', alt: "") %>
            <%= image_tag('clients/spinworkx.png', :class => "color-img", alt: "") %>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag('clients/shell_grey.png', alt: "") %>
            <%= image_tag('clients/shell.png', :class => "color-img", alt: "") %>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag('clients/natural_grey.png', alt: "") %>
            <%= image_tag('clients/natural.png', :class => "color-img", alt: "") %>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag('clients/gamescast_grey.png', alt: "") %>
            <%= image_tag('clients/gamescast.png', :class => "color-img", alt: "") %>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag('clients/everyday_grey.png', alt: "") %>
            <%= image_tag('clients/everyday.png', :class => "color-img", alt: "") %>
          </a>
        </li>
        <li>
          <a href="#">
            <%= image_tag('clients/spinworkx_grey.png', alt: "") %>
            <%= image_tag('clients/spinworkx.png', :class => "color-img", alt: "") %>
          </a>
        </li>
      </ul>
    </div>
    </div>
  </div>