<%= form_for @order, :url => orders_path(@order), validate: true do |f| %>
  <div class="request" id="request">
    <div class="request-control">
      <div class="field">
        <%= f.label :last_name, class: 'request_lable' %>
        <%= f.text_field :last_name, class: 'input-block-level'  %>
        <%= errors_for @order, :last_name %>
      </div>

      <div class="field">
        <%= f.label :first_name, class: 'request_lable' %>
        <%= f.text_field :first_name, class: 'input-block-level'  %>
        <%= errors_for @order, :first_name %>
      </div>

      <div class="field">
        <%= f.label :phone, class: 'request_lable' %>
        <%= f.text_field :phone, class: 'input-block-level'  %>
        <%= errors_for @order, :phone %>
      </div>

      <div class="field">
        <%= f.label :email, class: 'request_lable' %>
        <%= f.text_field :email, class: 'input-block-level'  %>
        <%= errors_for @order, :email %>
      </div>

      <div class="field">
        <%= f.label :content, class: 'request_lable' %>
        <%= f.text_area :content, class: 'input-block-level request_textarea'  %>
        <%= errors_for @order, :content %>
      </div>
      <%= f.submit "Отправить", class: 'submit_button' %>
     </div>
    </div>
<% end %>
