<%= render 'pages/index/header_slider' %>
<%= render 'jurisprudences/list' %>

<div class="container">
  <div class="row-fluid">
    <div class="span4">
      <a class="service_link" href="<%= slug_path('price_of_services') %>">
        <div class="service clearfix">
          <div class="service_icon"><%= image_tag('design/service_price.png') %></div>
          <div class="desc">
            <div class="desc_header">
              <h4>Стоимость<br/>услуг</h4>
            </div>
            <p>В этом разделе Вы можете ознакомиться с ценами на наши услуги. Обращаем внимание на тот факт,
              что цены являются примерными и стоимость конкретной услуги зависит
              от сложности поставленной задачи и необходимого времени для ее разрешения.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="span4">
      <a class="service_link" href="<%= slug_path('order_of_services') %>">
        <div class="service clearfix">
          <div class="service_icon"><%= image_tag('design/service_call.png') %></div>
          <div class="desc">
            <div class="desc_header">
              <h4>Заказ<br />услуг</h4>
            </div>
            <p>В данной рубрике Вы можете получить информацию о способах заказа наших услуг,
              а также оформить заявку on-line.
            </p>
          </div>
        </div>
      </a>
    </div>
    <div class="span4">
      <a class="service_link" href="<%= docs_path %>">
        <div class="service clearfix">
          <div class="service_icon"><%= image_tag('design/service_docs.png') %></div>
          <div class="desc">
            <div class="desc_header">
              <h4>Образцы документов,<br />
                заявлений</h4>
            </div>
            <p>В этом разделе Вы можете ознакомиться и скачать необходимую форму документа из имеющейся
              на нашем сайте базе. Если Вы не нашли интересующий Вас документ, сообщите нам об этом одним из способов,
              указанным в рубрике "Заказ услуг".
            </p>
          </div>
        </div>
      </a>
    </div>
  </div>
  <%= render 'reviews/list' %>
  <%= render 'pages/index/partners' %>
</div>
