<%= form_for @review, :url => reviews_path(@review), validate: true do |f| %>
  <div class="field">
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>

  <div class="field">
    <%= f.label :content %>
    <%= f.text_area :content, class: 'review_textarea input-block-level' %>
  </div>

  <%= f.submit "Отправить", class: 'submit_button' %>
<% end %>
