<div class="row-fluid margin-bottom-20">
  <div class="span8 feedback_container">
    <div class="headline review">
      <h3>Отзывы</h3>
      <span class="main_feedback_flash"> <%= show_flash %> </span>
    </div>
    <div class="feedback">
      <%= link_to '#', :id => 'show-send-review_form', :class => 'feedback_trigger hover-effect' do %>
        оставить отзыв <%= image_tag('design/feedback_bubble.png') %>
      <% end %>
    </div>
    <div id="send-review-form-wrapper">
      <%= render 'reviews/form' %>
    </div>
    <%= render @reviews %>
  </div>
  <div class="span4">
    <div class="social_wg">
      <script type="text/javascript" src="//vk.com/js/api/openapi.js?101"></script>

      <!-- VK Widget -->
      <div id="vk_groups"></div>
      <script type="text/javascript">
        VK.Widgets.Group("vk_groups", {mode: 0, width: "245", height: "400", color1: 'FFFFFF', color2: '2B587A', color3: '5B7FA6'}, 58019172);
      </script>
    </div>
  </div>
</div>
